<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <title>Vertical Tank Maintenance</title>
</head>
<body>
        <h1> Home </h1>
        <img src="MacintoshHD/Users/ecriz/Downloads/above_ground_vertical_tanks.jpg"
        <p> Hi</p>
</body>
</html>