<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/stylesheet.css">
        <title>Vertical Tank Maintenance</title>
    </head>   
    <body>
        <div>
            <h1>Vertical Tank Maintenance</h1>
            <hr>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/estimate">Estimate</a>
        </div>

        <h2>VTM Estimator</h2>

        <p>&copy VTM 2020</p>

    </body>
</html>